<app-purchase-history-filters></app-purchase-history-filters>
<div *ngIf="userReservations.length; else listEmpty" class="container mt-5">
  <div *ngFor="let reservation of userReservations">
    <div class="card trip-item">
      <div
        class="card-body trip-name-wrapper"
        *ngIf="getTripById(reservation.tripId); else tripNotFound"
      >
        <h5
          class="card-title trip-name"
          (click)="viewDetails(getTripById(reservation.tripId)?.id)"
        >
          {{ getTripById(reservation.tripId)?.name | uppercase }}
        </h5>
      </div>
      <ul
        class="list-group list-group-flush"
        *ngIf="getTripById(reservation.tripId)"
      >
        <li class="list-group-item">
          Destination:
          {{ getTripById(reservation.tripId)?.destinationCountry | uppercase }}
        </li>
        <li class="list-group-item">
          Duration:
          {{ getTripById(reservation.tripId)?.startDate | date : "d.M.yyyy" }} -
          {{ getTripById(reservation.tripId)?.endDate | date : "d.M.yyyy" }}
        </li>
        <li class="list-group-item">Spots bought: {{ reservation.count }}</li>
        <li class="list-group-item">
          Purchase date: {{ reservation.purchaseDate | date : "medium" }}
        </li>
      </ul>
      <ng-template #tripNotFound
        >Trip with id: {{ reservation.tripId }} not found. It possibly has been
        deleted. Please contact administrator.</ng-template
      >
    </div>
  </div>
</div>
<ng-template #listEmpty><p>No trips bought!</p></ng-template>
