<h2>Trips</h2>
<h3
  [ngStyle]="{'background-color': currentlyReserved() < 10 ? 'red' : 'green' }"
>
  Currently reserved: {{ currentlyReserved() }}
</h3>
<!-- <div class="card-columns"> -->
<div *ngFor="let trip of trips; index as i">
  <div
    class="card"
    [ngStyle]="{
      'border-color':
        trip.price == maxPrice ? 'red' : trip.price == minPrice ? 'green' : null
    }"
  >
    <img class="card-img-top" src="{{ trip.imageRef }}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ trip.name | uppercase }}</h5>
      <button type="button" class="btn btn-outline-danger" (click)="removeTrip(i)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
        </svg>
        Remove trip
      </button>
      <p class="card-text">{{ trip.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Destination: {{ trip.destinationCountry | uppercase }}
      </li>
      <li class="list-group-item">
        Duration:
        {{ trip.startDate.getDay() }}.{{ trip.startDate.getMonth() }}.{{
          trip.startDate.getFullYear()
        }}
        - {{ trip.endDate.getDay() }}.{{ trip.endDate.getMonth() }}.{{
          trip.endDate.getFullYear()
        }}
      </li>
      <li class="list-group-item">Max spots: {{ trip.maxSpots }}</li>
      <li class="list-group-item">
        <div *ngIf="trip.currency === 'dolar'">
          Price: ${{ trip.price | currencyPipe : "dolar" }}
        </div>
        <div *ngIf="trip.currency === 'zloty'">
          Price: {{ trip.price | currencyPipe : "zloty" }} zł
        </div>
        <div *ngIf="trip.currency === 'euro'">
          Price: {{ trip.price | currencyPipe : "euro" }}€
        </div>
        <div class="btn-group" role="group" aria-label="Currency selection">
          <button
            type="button"
            class="btn btn-primary"
            [ngClass]="{ active: trip.currency === 'dolar' }"
            (click)="changeCurrency(i, 'dolar')"
          >
            USD
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [ngClass]="{ active: trip.currency === 'zloty' }"
            (click)="changeCurrency(i, 'zloty')"
          >
            PLN
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [ngClass]="{ active: trip.currency === 'euro' }"
            (click)="changeCurrency(i, 'euro')"
          >
            EUR
          </button>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <div
            *ngIf="trip.maxSpots - trip.takenSpots > 0; else noSpots"
            [ngStyle]="
              trip.maxSpots - trip.takenSpots > 4
                ? { color: 'black' }
                : { color: 'blue' }
            "
          >
            There are {{ trip.maxSpots - trip.takenSpots }} spots left.
          </div>
          <ng-template #noSpots
            ><div style="color: red">
              There are no spots available!
            </div></ng-template
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-plus reservation-button"
            viewBox="0 0 16 16"
            (click)="addReservation(i)"
            *ngIf="trip.maxSpots - trip.takenSpots > 0"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-dash reservation-button"
            viewBox="0 0 16 16"
            (click)="removeReservation(i)"
            *ngIf="trip.takenSpots > 0"
          >
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"
            />
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- </div> -->
