<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">TurboTrips</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/trips"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            [routerLinkActiveOptions]="{ exact: true }"
            >Trips</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cart"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            [routerLinkActiveOptions]="{ exact: true }"
            >Cart</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/add-trip"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Add trip</a
          >
        </li>
      </ul>
    </div>
    <div>
      <app-reservation-sum class="navbar-text"></app-reservation-sum>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
