<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" routerLink="/">TurboTrips</a>
      <app-reservation-sum class="navbar-text"></app-reservation-sum>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/trip"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            [routerLinkActiveOptions]="{ exact: true }"
            >Trips</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/cart"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            [routerLinkActiveOptions]="{ exact: true }"
            >Cart</a
          >
        </li>
        <li class="nav-item" *ngIf="user">
          <a
            class="nav-link"
            routerLink="/trip/add"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Add trip</a
          >
        </li>
        <li class="nav-item" *ngIf="user === null">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="user === null">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Register</a
          >
        </li>
        <li class="nav-item" *ngIf="user" style="color: #fff; padding: 8px">
          User: {{ user.email }}
        </li>
        <li class="nav-item" *ngIf="user">
          <a
            class="nav-link"
            routerLink="/logout"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Log out</a
          >
        </li>
        <li>
          <app-currency-selector></app-currency-selector>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
