.card {
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 1350px;
}

.card-columns {
  column-count: 4;
}

.reservation-button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;

  align-self: center;
  justify-self: flex-end;
  cursor: pointer;
}

.circular-image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.circular-image {
  margin: 10px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 8px 8px 26px 0px rgba(66, 68, 90, 0.35);
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.reservation-button:hover {
  color: rgb(173, 173, 173);
}
