.reservation-button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;

  align-self: center;
  justify-self: flex-end;
  cursor: pointer;
}
